.ProductsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 ;
}
h1 {
    margin-top:20px !important;
}
.searchForm{
    max-width: 50vw;
}

#th1Pedidos{
    width: 30%;
}
#th2Pedidos{
    width: 70%;
}
#TablePedidos>thead{
    display: none;
}
#TablePedidos>tbody{
    padding: 0px;
}
#TablePedidos{
    margin: 0;
    border-left: #F5EED9 solid 3px;
}
.td1Pedidos{
    width: 80%;
    padding: 0px;
    border: none;
}
.td2Pedidos{
    width: 10%;
    padding: 0px;
    border: none;
    color: #025e02 !important;
    font-weight: 700;
}
.inputQuantidade{
    width: 50px;
}
@media (max-width: 500px) {
    #TablePedidos>tbody>tr>td{
        font-size: 3vw;
    }
    #TablePedidos .divTableButtons>button{
        margin-left: 2px;
    }
  }
