body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 
.app{
  min-height: 100vh;
}
#MainContainer{
  min-height: calc(100vh - 141px);
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F5EED9;
   color: #6B3C34;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   color: #6B3C34;
}
table {
  border: 0px;
  border-collapse: collapse;
  width: 100%;
  border-top: #6B3C34 solid 3px !important;
}
#MainContainer{
  color: #6B3C34;
}
div.accordion-body{
  padding: 0px;
  color: #6B3C34;
}
.accordion{
  border-left: #F5EED9 solid 3px;
  border-bottom: #F5EED9 solid 3px;
  border-top: #6B3C34 solid 3px;
}
.accordion-button{
  color: #6B3C34 !important;
  background-color: #F5EED9 !important;
}
.accordion-body{
  padding: 0px;
  padding-left: 30px !important;
}
.accordion-button:focus{
  border-color: #6B3C34 !important;
  box-shadow: 0 0 0 0.25rem #6B3C3425 !important;
}
.accordion-item{
  border: 0px;
  border-radius: 0px;
}
.divTableButtons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.divTableButtons>button{
  margin-left: 10px;
}
.btnsFilter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btnsFilter>button{
  margin-left: 10px;
}
@media (min-width: 1000px) {
  .btnInsert{
    max-width: 50vw;
    width: 160px;
    height: 50px;
  }
}
@media (max-width: 1000px) {
  .BaseHeader{
    padding-top: 40px;
  }
}
@media (max-width: 500px) {
  .BaseHeader > div{
    flex-direction: column;
  }
  .Filter{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .Filter > *{
    margin-bottom: 10px;
  }
  .BaseHeader > div > *{
    margin-bottom: 10px;
  }
}
@media (min-width: 500px) {
  .Filter{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .Filter > *{
    margin-right: 10px;
  }
  .btnsFilter {
    margin-left: 10px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;

  }
} 
